
<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
          <div class="card h-100">
     
            <div class="card-body">
              <h5 class="card-title"><h1>Examen de Java</h1></h5>
              <p class="card-text">En el examen  vamos a ver fundamentos de java y sintaxis</p>
              <p class="card-text">Fecha de creacion:</p>
              <p class="card-text">28-11-2020</p>
              <p class="card-text">Numero de Preguntas: 10</p>
              <a [routerLink]="['/pruebatecnica']" href="#" class="btn btn-primary">Realizar Examen</a>
                
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
           
            <div class="card-body">
              <h5 class="card-title"><h1>Examen de Python</h1></h5>
              <p class="card-text">En el examen vermos los fundamentos  de python y  sintaxis</p>
              <p class="card-text">Fecha de creacion:</p>
              <p class="card-text">28-11-2020</p>
              <p class="card-text">Numero de Preguntas: 10</p>
              <a href="#" class="btn btn-primary">Realizar Examen</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
      
            <div class="card-body">
              <h5 class="card-title"><h1>Examen de PHP</h1></h5>
              <p class="card-text">En el siguiente examen vermos los fundamentos y sintaxis de php</p>
              <p class="card-text">Fecha de creacion:</p>
              <p class="card-text">28-11-2020</p>
              <p class="card-text">Numero de Preguntas: 10</p>
              <a href="#" class="btn btn-primary">Realizar Examen</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
          
            <div class="card-body">
              <h5 class="card-title"><h1>Examen de Android</h1></h5>
              <p class="card-text">En el siguiente examen vermos los fundamentos y sintaxis de android</p>
              <p class="card-text">Fecha de creacion:</p>
              <p class="card-text">28-11-2020</p>
              <p class="card-text">Numero de Preguntas: 10</p>
              <a href="#" class="btn btn-primary">Realizar Examen</a>
            </div>
          </div>
        </div>

        <div class="col mb-4">
            <div class="card h-100">
            
              <div class="card-body">
              <h5 class="card-title"><h1>Examen de JavaScript</h1></h5>
              <p class="card-text">En el siguiente examen vermos los fundamentos y sintaxis de JavaScript</p>
              <p class="card-text">Fecha de creacion:</p>
              <p class="card-text">28-11-2020</p>
              <p class="card-text">Numero de Preguntas: 10</p>
                <a href="#" class="btn btn-primary">Realizar Examen</a> 
            </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
            
              <div class="card-body">
                <h5 class="card-title"><h1>Examen de SQL</h1></h5>
                <p class="card-text">En el siguiente examen vermos los fundamentos y sintaxis de SQL</p>
                <p class="card-text">Fecha de creacion:</p>
                <p class="card-text">28-11-2020</p>
                <p class="card-text">Numero de Preguntas: 10</p>
                <a href="#" class="btn btn-primary">Realizar Examen</a>
            </div>
            </div>
          </div>

          <div class="col mb-4">
            <div class="card h-100">
            
              <div class="card-body">
                <h5 class="card-title"><h1>Examen de C #</h1></h5>
                <p class="card-text">En el siguiente examen vermos los fundamentos y sintaxis de C #</p>
                <p class="card-text">Fecha de creacion:</p>
                <p class="card-text">28-11-2020</p>
                <p class="card-text">Numero de Preguntas: 10</p>
                <a href="#" class="btn btn-primary">Realizar Examen</a> 
            </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">           
              <div class="card-body">
                <h5 class="card-title"><h1>Examen de C ++</h1></h5>
                <p class="card-text">En el siguiente examen vermos los fundamentos y sintaxis de C ++</p>
                <p class="card-text">Fecha de creacion:</p>
                <p class="card-text">28-11-2020</p>
                <p class="card-text">Numero de Preguntas: 10</p>                
                <a href="#" class="btn btn-primary">Realizar Examen</a>           
            </div>
            </div>
          </div>
          
      </div>  
</div>