<div class="title">
    <div>
        <p>
            <small>Practica</small>
        </p>
        <h1>Tablero</h1>
    </div>
</div>
<div class="menu">
    <div class="menu-container">
        <div class="set">
            <h2>Trabaja en tus habilidades dentro y fuera de la institución</h2>
            <div class="card-container">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><h1>Java </h1></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Java (basico)</h6>
                        <p class="card-text">mejorar fundamentos de java y sintaxis.</p>
                        <a href="#" class="card-link" routerLink="/test">Card link</a>
                        
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><h1>SQL </h1></h5>
                        <h6 class="card-subtitle mb-2 text-muted">SQL (sql basico)</h6>
                        <p class="card-text">apreden de fundamentos y mejora tus habilidades  en sql.</p>
                        <a href="#" class="card-link"  routerLink="/test">Card link</a>
                       
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><h1>Python </h1></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Python (basico)</h6>
                        <p class="card-text">mejora fundamentos de python y mejro sintaxis .</p>
                        <a href="#" class="card-link"  routerLink="/test">Card link</a>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="set">
            <h2>Realiza los test, valida tus conocimientos</h2>
            <div class="card-container">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><h1>C ++ </h1></h5>
                        <h6 class="card-subtitle mb-2 text-muted">C ++ (basico)</h6>
                        <p class="card-text">mejorar  en fundamentos de  c ++ y sintaxis .</p>
                        <a href="#" class="card-link"  routerLink="/test">Card link</a>
                       
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><h1>PHP </h1></h5>
                        <h6 class="card-subtitle mb-2 text-muted">PHP (basico)</h6>
                        <p class="card-text">mejorar los fundamentos  de  php y sintaxis.</p>
                        <a href="#" class="card-link"  routerLink="/test">Card link</a>
                       
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><h1>Android </h1></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Android (basico)</h6>
                        <p class="card-text">aprender de fundamentos de android y mejorar fundamentos.</p>
                        <a href="#" class="card-link"  routerLink="/test">Card link</a>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="set">
            <h2>Conoce los proximos eventos</h2>
            <div class="card-container">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">JavaScript</h5>
                        <h6 class="card-subtitle mb-2 text-muted">JavaScript (basico)</h6>
                        <p class="card-text">mejorar fundamentos de javascript y mejora tu sintaxis </p>
                        <a href="#" class="card-link"  routerLink="/test">Card link</a>

                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">C#</h5>
                        <h6 class="card-subtitle mb-2 text-muted">C# (basico)</h6>
                        <p class="card-text">mejorar fundamentos  de c #  aprende de fundamentos y  mejora sintaxis</p>
                        <a href="#" class="card-link"  routerLink="/test">Card link</a>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
