<div class="container mt-5">
 <div class="row">   
 
     
  <div class="pregresp">
    <div class="pregunta">1. ¿ Java es un lenguaje multiplataforma?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" /> Sí<br />
      <input type="radio" name="preg1" value="2" /> No<br />
      <input type="radio" name="preg1" value="3" /> Ns/Nc<br />
    </div>
  </div>

  <div class="pregresp">
    <div class="pregunta">2. ¿ cuales es una caracteristicas de java?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" />herencia<br />
      <input type="radio" name="preg1" value="2" />componetes<br />
      <input type="radio" name="preg1" value="3" />interfaz<br />
    </div>
  </div>

  <div class="pregresp">
    <div class="pregunta">3. ¿ cual si son los conceptoa Oop?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" /> abtraccion<br />
      <input type="radio" name="preg1" value="2" /> procedimiento<br />
      <input type="radio" name="preg1" value="3" /> funciones<br />
    </div>
  </div>
  <div class="pregresp">
    <div class="pregunta">4. ¿la encapsulacion es ?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" /> Proteger el código de los demás.<br />
      <input type="radio" name="preg1" value="2" /> codigo reutilizable<br />
      <input type="radio" name="preg1" value="3" /> objeto abstrato<br />
    </div>
  </div>
  <div class="pregresp">
    <div class="pregunta">5. ¿ que es el polimorfismo?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" /> herencia<br />
      <input type="radio" name="preg1" value="2" /> un llamado de una funcion<br />
      <input type="radio" name="preg1" value="3" /> El Polimorfismo significa que tiene muchas formas.<br />
    </div>
  </div>

  <div class="pregresp">
    <div class="pregunta">6. ¿ Java es un lenguaje multiplataforma?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" /> Sí<br />
      <input type="radio" name="preg1" value="2" /> No<br />
      <input type="radio" name="preg1" value="3" /> Ns/Nc<br />
    </div>
  </div>

  <div class="pregresp">
    <div class="pregunta">7. ¿ Java es un lenguaje multiplataforma?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" /> Sí<br />
      <input type="radio" name="preg1" value="2" /> No<br />
      <input type="radio" name="preg1" value="3" /> Ns/Nc<br />
    </div>
  </div>
    
  <div class="pregresp">
    <div class="pregunta">8. ¿ Java es un lenguaje multiplataforma?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" /> Sí<br />
      <input type="radio" name="preg1" value="2" /> No<br />
      <input type="radio" name="preg1" value="3" /> Ns/Nc<br />
    </div>
  </div>

  <div class="pregresp">
    <div class="pregunta">9. ¿ Java es un lenguaje multiplataforma?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" /> Sí<br />
      <input type="radio" name="preg1" value="2" /> No<br />
      <input type="radio" name="preg1" value="3" /> Ns/Nc<br />
    </div>
  </div>
   

  <div class="pregresp">
    <div class="pregunta">10. ¿ Java es un lenguaje multiplataforma?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" /> Sí<br />
      <input type="radio" name="preg1" value="2" /> No<br />
      <input type="radio" name="preg1" value="3" /> Ns/Nc<br />
    </div>
  </div>

  <div class="pregresp">
    <div class="pregunta">10. ¿ Java es un lenguaje multiplataforma?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" /> Sí<br />
      <input type="radio" name="preg1" value="2" /> No<br />
      <input type="radio" name="preg1" value="3" /> Ns/Nc<br />
    </div>
  </div>

  <div class="pregresp">
    <div class="pregunta">10. ¿ Java es un lenguaje multiplataforma?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" /> Sí<br />
      <input type="radio" name="preg1" value="2" /> No<br />
      <input type="radio" name="preg1" value="3" /> Ns/Nc<br />
    </div>
  </div>


  <li>¿Crees que HTML es una buena tecnología?
    <ul>
    <li><input type="radio" name="preg1" value="1" /> Sí</li>
    <li><input type="radio" name="preg1" value="2" /> No</li>
    <li><input type="radio" name="preg1" value="3" /> Ns/Nc</li>
    </ul>
  </li>

  <li>¿Crees que HTML es una buena tecnología?
    <ul>
    <li><input type="radio" name="preg1" value="1" /> Sí</li>
    <li><input type="radio" name="preg1" value="2" /> No</li>
    <li><input type="radio" name="preg1" value="3" /> Ns/Nc</li>
    </ul>
  </li>

  <li>¿Crees que HTML es una buena tecnología?
    <ul>
    <li><input type="radio" name="preg1" value="1" /> Sí</li>
    <li><input type="radio" name="preg1" value="2" /> No</li>
    <li><input type="radio" name="preg1" value="3" /> Ns/Nc</li>
    </ul>
  </li>
   
  
</div>

   <form method="get" action="">
    <input type="submit" value="Enviar" />
    </form>
</div>